* {
    padding: 0;
    margin: 0;
}


.igBanner {
    background-image: url(../../../public/img/gatinho.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}