.padre {
    font-family: 'Montserrat', sans-serif;
    padding-top: 60px;
    background-size: cover;
    height: 100%;

}
.ruta {
    margin-top: 10px;
    padding: 20px 20px 0px 20px;
    font-size: 14px;
    text-align: left;
}

.finalizarCompra {
    display: flex;
    margin: 50px;
}
.inputDatos1 input {
    width: 90%;
}
.inputDatos {
    width: 76%;
}
.padre h1 {
    font-size: 26px;
    margin-top: -30px;
    padding: 20px;
    text-align:left;
    text-transform: uppercase;
}

.padre button { 
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 26px;
    width: 90%;
    border: none;
    border: 1px solid;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}
.derCheckout strong {
    font-size: 12px;
}

.derCheckout h6 {
    text-transform: uppercase;
    font-size: 12px;
}
.derCheckout img {
    width: 40px;
}
.checkoutCard {
    display: flex;
}
.margincc {
    margin-left: 10px;
}
.inputDatos p {
    text-transform: uppercase;
    color: white;
    margin-top: 25px;
    background-color: rgb(212, 0, 0);
    text-align: center;
    width: 90%;
    padding: 5px;
    font-size: 12px;
}

.compraFinalizada  {
    text-transform: uppercase;
    color: white;
    margin: 25px;
    width: 90%;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(0, 134, 7);
}
@media screen and (max-width: 780px) {
    .finalizarCompra {
        flex-direction: column-reverse;
        margin: 10px;
    }
    .inputDatos1 input {
        width: 99%;
    }

    .inputDatos {
        width:100%;
    }
    .padre button { 
        width: 99%;
    }
    .inputDatos p {
        width: 99%;
    }
    .inputDatos {
        padding: 15px;
    }

}