.Carrito2 {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
    align-items: center;
    text-align: left;
    justify-content: space-evenly;
    border: 1px solid;
    margin: 10px;
}

h5 {
    text-transform: uppercase;
}

.Carrito2 img {

    height: 120px;
}

.bin-button {
  margin-top: 8px;
  width: 60px;
  height: 40px;
  margin-bottom: 10px;
  border: none;
  background-color: black;
  }


  @media screen and (max-width: 1024px) {
    .Carrito2 {
      display: grid;
      align-items: center;
    text-align: center;
    }
}