footer {
    font-family: 'Montserrat', sans-serif;
    border-top: 1px solid rgb(233, 233, 233);
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color:#f8f9fa;
    text-align: center;
    bottom: 0;
    clear: both;
    position: relative;
}

@media screen and (max-width: 1024px) {
    footer {
        font-size: 12px;
    }
}